footer {
    background-color: #333; 
    color: #fff; 
}

footer a {
    color: #aaa; 
    text-decoration: none;
}

footer a:hover {
    color: #FFD700;
}

footer h5 {
    color: #FFD700;
    margin-bottom: 1rem;
}

footer .fa {
    color: #FFD700;
}

footer .list-unstyled {
    padding-left: 0;
}

.icon-facebook {
    color: blue;
}

.icon-twitter {
    color: rgb(13, 157, 201);
}

.icon-instagram {
    background: linear-gradient(45deg, #833AB4, #FD1D1D, #FCB045);
}