/* Styles généraux */
.navbar {
    background-color: #fff;
    padding: 10px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: #000;
}

.navbar-brand span {
    color: #fff200; /* Couleur accent pour "ÉNERGIE" */
}

.nav-links a {
    margin: 0 15px;
    color: #000;
    text-decoration: none;
    font-weight: 500;
}

.nav-links a:hover {
    color: #007bff;
}

.menu-toggle {
    display: none;
    font-size: 1.5rem;
    color: #000;
    cursor: pointer;
}

/* Styles responsives */
@media (max-width: 768px) {
    .nav-links {
        display: none; /* Cacher les liens sur mobile */
        position: absolute;
        top: 60px;
        right: 20px;
        background-color: #fff;
        width: 100%;
        max-width: 200px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        padding: 10px;
        border-radius: 5px;
        text-align: right;
    }

    .nav-links a {
        display: block;
        margin: 10px 0;
    }

    .menu-toggle {
        display: block;
    }
}

/* Affichage du menu au clic */
.menu-toggle.active + .nav-links {
    display: block;
}
