<footer class="footer mt-5" style="background-color: antiquewhite; border-color: black;">
    <div class="container text-center py-4">
        <div class="footer-logo mb-3">
            <img src="build/images/courtage-png.png" alt="Logo" width="100" height="100"> 
        </div>

        <!-- Menu de navigation -->
        <div class="footer-menu mb-3" style="text-decoration: none;">
            <a href="#" class="footer-link">ACTUALITES</a>
            <a href="#" class="footer-link">SERVICES</a>
            <a href="#" class="footer-link">CONTACT</a>
        </div>
</footer>
