<footer class="bg-dark text-white py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-4">
                <a href="#" class="navbar-brand text-white">COURTIER<span>.ÉNERGIE</span></a>
                <p>Nous sommes un courtier énergétique offrant des solutions adaptées aux besoins de votre entreprise.</p>
            </div>

            <div class="col-lg-4 col-md-6 mb-4">
                <h5 class="fw-bold">Liens Utiles</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-white text-decoration-none mb-5">Actualités</a></li>
                    <li><a href="#" class="text-white text-decoration-none mb-5">Services</a></li>
                    <li><a href="#" class="text-white text-decoration-none">Contact</a></li>
                </ul>
            </div>

            <div class="col-lg-4 col-md-12 mb-4">
                <h5 class="fw-bold">Contact</h5>
                <p><i class="fas fa-phone-alt"></i> +33 1 23 45 67 89</p>
                <p><i class="fas fa-envelope"></i> contact@courtier-energie.com</p>
                <p><i class="fas fa-map-marker-alt"></i> Paris, France - 75000</p>

                <h5 class="fw-bold mt-3">Suivez-nous</h5>
                <a href="#" class="text-white me-3"><i class="fab fa-facebook-f icon-facebook"></i></a>
                <a href="#" class="text-white me-3"><i class="fab fa-twitter icon-twitter"></i></a>
                <a href="#" class="text-white"><i class="fab fa-instagram icon-instagram"></i></a>
            </div>
        </div>
    </div>
</footer>
