<nav class="navbar text-white">
        <div class="logo">
            <a href="#" style="text-decoration: none;">
                <img src="build/images/courtage.png" alt="Mon Courtier Energie Logo" style="width: auto; height: 100px">
            </a>
        </div>

        <ul class="nav-links">
            <li><a href="#">Actualité</a></li>
            <li><a href="#">Nos Services</a></li>
            <li><a href="{{ path('contact')}}">Contact</a></li>
        </ul>

        <div class="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </nav>

    <script>
        const hamburger = document.querySelector(".hamburger");
        const navLinks = document.querySelector(".nav-links");

        hamburger.addEventListener("click", () => {
            hamburger.classList.toggle("active");
            navLinks.classList.toggle("active");
        });

        document.querySelectorAll(".nav-links a").forEach(n => n.addEventListener("click", () => {
            hamburger.classList.remove("active");
            navLinks.classList.remove("active");
        }));
    </script>