{% extends 'base.html.twig' %}

{% block title %}Nous contacter{% endblock %}

{% block body %}
    <div class="container" style="margin-top: 10%;">
    {{ form_start(form) }}
        {{ form(form) }}
    {{ form_end(form) }}
    </div>
{% endblock %}
